In [ ]:
"""
PSet 1
Create a to-do list containing your daily To-dos using either a list or a tuple
Perform some operations to get a particular day to-do one after the other, and add the operation that shows all your to-dos for the days accordingly

"""

In [37]:
#The to_do list is created
Mon = "Monday: Get to work"
Tue = "Tuesday: Attend programming class"
Wed = "Wednesday: Go to the gym"
Thur = "Thursday: Work from home"
Fri = "Friday: Spend a latenight outside"
Sat = "Saturday: Play football and do laundry"
Sun = "Sunday: Go to church and prepare for work"

In [43]:
#The to_do list is unpacked
to_do = [Mon, Tue, Wed, Thur, Fri, Sat, Sun]
mon_routine, tue_routine, wed_routine, thur_routine, fri_routine, sat_routine, sun_routine = to_do
print(wed_routine)

Wednesday: Go to the gym

In [39]:
#I added an extra day and used an iteration to print the whole to_do list
extra_day = "Extra_day: See a movie"
to_do.append(extra_day)
for schedule in to_do:
  print (schedule)

Monday: Get to work
Tuesday: Attend programming class
Wednesday: Go to the gym
Thursday: Work from home
Friday: Spend a latenight outside
Saturday: Play football and do laundry
Sunday: Go to church and prepare for work
Extra_day: See a movie

In [ ]:
"""
PSet 2
Create a dictionary that contains your basic bio info, which must have properties of skills which is a list of your skills

"""

In [55]:
#I created a dictionary here containing some basic info and my skills
my_bio = {
    "Name":"Anthony",
    "Age":"23",
    "Nationality":"Nigerian",
    "Skill_1":"Graphics Design",
    "Skill_2":"Programming",
    "Skill_3":"Photography"

}

In [ ]:
"""
Loop through your bio dictionary and print the keys and values to stdout, for skills
Make skills as a heading and print out all the skills out

"""

In [ ]:
# Here the keys and values in the dictionary are printed to stdout
for key,value in my_bio.items():
  print(f"My {key} is {value}")

In [57]:
skills = [my_bio["Skill_1"], my_bio["Skill_2"], my_bio["Skill_3"]]
for skillsets in skills:
  print(f"My skillsets include {skillsets}")

My skillsets include Graphics Design
My skillsets include Programming
My skillsets include Photography

In [ ]:
"""
Use a lambda expression to double each items in list of range 1-50 using list comprehnsion

"""

In [70]:
operation= [(lambda x: x**2)(x) for x in range(1,51)]
print(operation)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]